
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #1b1235, #2c235b);
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background: transparent;
    color: white;
    font-weight: bold;
}

.navbar nav a {
    color: white;
    margin-left: 2rem;
    text-decoration: none;
    font-size: 1rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 3rem;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ddddff;
}

.store-buttons img {
    height: 50px;
    margin-right: 1rem;
}

.hero-image img {
    max-width: 300px;
    border-radius: 12px;
}
